*{
    box-shadow: none !important;
    border-color: rgb(164, 151, 151);
}
.change-name{
    margin: 1%;
    justify-items: center;
}
.change-password{
    margin: 1%;
}
.change-profilePicture{
    margin: 1%;
    justify-items: center;
}
.saveButton{
    margin: 1%;
    float:initial
}
.container{
    margin: 4%;
 
}
.input-text{
    margin: 1%;
}
.avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .input-text {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }

  .custom-avatar {
    width: 300px; 
    height: 200px; 
    border-radius: 25px;
    object-fit: cover; 
  }