.custom-button {
    background-color: #6c757d; /* Koyu gri tonu */
    color: #fff; /* Yazı rengi */
    border-color: #6c757d; /* Kenarlık rengi */
  }
  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
    background: #413e3f !important;
}
.p-carousel[pr_id_6] .p-carousel-item {
  flex: 1 0 90%;
}
.card{
  justify-content: center;
  padding:2%;
  margin-top: 3%;
}
.views{
  margin-right: 2%;
}