
.container{
    justify-content: center;
}

.p-button{
    color: whitesmoke;
    background: var(--bluegray-400) !important;
    border: var(--bluegray-400);
}
.add-photo{
    margin: 1%;
    background-color: gray !important;
}
.p-2{
    margin: 1%;
}
.text{
    margin: 1%;
}
.create-button{
 margin: 1%;
 float: left;
 background-color: grey;
}
.d-block{
    margin: 2%;
}
.input-header{
    margin: 1%;
    box-shadow: none;
}
.p-inputtextarea p-inputtext p-component{
    box-shadow: none;
}
.text-area{
    box-shadow: none !important;
}
.d-block{
    box-shadow: none !important;
}